body {
    font-family:"Arial";
}

.main-image {
    border: solid 4px black;
    border-radius: 50%;
}

h1 {
    background-color: #e2e2e2;
}
 
.section-title {
    text-transform: capitalize;
}

.return-mainpg {
    text-transform:full-width;
}